.container {
  min-height: 30vh;
  padding: 2rem;
  background: #2c2f3e;
  font-family: Inter, sans-serif;
  color: #e0e0e0;
}

.title {
  color: #e0e0e0;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardValue {
  font-size: 1.5rem;
  font-weight: 700;
}

.cardPrimary { background: #5048e5; }
.cardSuccess { background: #ffffff; color: black;}
.cardInfo { background: #5a564e; }
